<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글 수정</title>
</head>
<body>

<h1>글 수정</h1>

<form th:action="@{/posts/{id}/edit(id=${form.id})}" th:object="${form}" method="post">
    <div>
        <label th:for="title">제목</label><br>
        <input type="text" th:field="*{title}"/>
    </div>
    <div>
        <label th:for="contents">내용</label><br>
        <textarea type="text" th:field="*{contents}"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">수정</button>

</form>

<div>
    <form th:action="@{/posts/{id}(id=${form.id})}" method="get">
        <button type="submit">뒤로</button>
    </form>
</div>

</body>
</html>